#services{
    position: relative;
    top: 2rem;
    background: var(--color-white);
    padding: 0;
    margin: 0;
}

.services__container{
    padding-top:2rem ;
    padding-bottom:2rem ;
}

.service__mainwrapper > h2{
    text-align: center;
}

.wrapper{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.wrapper > div {
    flex-basis: 250px;
    height: 20rem;
    flex-grow: 1;
}

.service__image{
    height: 250px;
}

.service__name{
    color: var(--color-secondary);
    text-align: center;
}

@media screen and (max-width:1350px) {
    .wrapper > div {
        flex-basis: 150px;
        height: 20rem;
        flex-grow: 1;
    }
}


@media screen and (max-width:1088px) {
    .wrapper > div {
        flex-basis: 150px;
        height: 20rem;
        flex-grow: 1;
    }
}

@media screen and (max-width:768px) {
    .wrapper > div {
        flex-basis: 250px;
        height: 20rem;
        flex-grow: 1;
    }
}