#about__service{
    position: relative;
    top: 7rem;
    background: var(--color-white);
    padding: 0;
    margin: 0;
    margin-bottom: 5rem; 
}

.about__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
}

.about__wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    flex-basis: 250px;
    height: 20rem;
    flex-grow: 1;
    padding: 2rem;
}

.about__wrapper > div > p {
    text-align: center;
}