#mini__service{
    background: var(--color-white);
    padding: 0;
    margin: 0;
}

.mini__service__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.mini__service__wrapper > .mini_service {
    flex-basis: 380px;
    flex-grow: 1;
    background: var(--color-light);
    padding: 3rem;
    color: black;
    border-radius: 20px;
    /* height: 15rem; */
    /* width: 33.3%; */
}

.mini__service__container > h2{
    text-align: center;
}

.mini_service:hover{
    background: var(--color-secondary);
    color: var(--color-white);
}

.mini_service:hover h4{
    color: var(--color-white);
}

.mini_service > h4{
    color: var(--color-secondary);
}

.mini_service > p {
    text-align: center;
}

.mini_service > .btn-wrapper >  button {
    margin-top: 1rem;
}

.mini_service > .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}