#about__digital__wakaa{
    position: relative;
    top: 7rem;
    background: var(--color-white);
    padding: 0;
    margin: 0;
}

.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.about__container > div {
    flex-basis: 250px;
    flex-grow: 1;
}

.about__header__right > img{
    height: 300px;
}

/* .about__header__left{
    width: 50%;
} */

.about__header__right{
    height: 300px;
}