header{
    min-height: 90vh;
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: url("../../assets/DigitalWakaa.jpg");
    background-size: cover;
    background-position: center;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__left > div > p{
    font-size: x-large;
    font-weight: bold;
}

.header__left > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__left div h1{
    /* color: whitesmoke; */
    background: linear-gradient(to right, #0288D1, white, green);
    background-clip: border-box  padding-box  content-box  no-clip;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.6rem;
    /* animation: moveRight 8s linear infinite; */

}

.header__left div p{
    margin: 1.2rem 0 2rem ;
    color: white;
    font-size: x-large;
}

@keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

@media screen and (max-width:1024px){
    #header{
        height: 720px;
        padding: 14rem 0 0;
    }

    .header__left h3{
        color: black;
    }

    .header__left div h1{
        font-size: 4rem;
    }
    
    .header__container{
        align-items: flex-end;
        height: 100%;
    }

    .header__left{
        margin-bottom: 10rem;
    }

    .header__right{
        align-items: flex-end;
        height: 100%;
    }

    .header__right-bg{
        width:59rem;
        height: 80rem;
        right: -25rem;
        /* bottom: 0.1%; */
        transform: translate(40% 40%);
    }
    .header__image{
       bottom: 40%;
        right: -0.5rem;
        width: 100%;
    }
    
}

@media screen and (max-width: 768px){
    #header{
        width: 100%;
        height: 519px;
    }
    .header__left{
        margin-bottom: 20rem;
    }
    .header__image{
        bottom: 75%;
        right: -0.5rem;
        width: 100%;
    }
    
    .header__right-bg{
        width:35rem;
        height: 40rem;
        right: -10rem;
        bottom: 50%;
        transform: translate(40% 40%);
    }

}

@media screen and (max-width:600px){
    #header{
        background-color: whitesmoke;
    }

  .header__container{
    grid-template-columns: 1fr;
    margin-top: 0;
  }
   .header__image{
    width: 22rem;
    bottom: 11rem;
    right: 1rem;
    display: none;
   }

   .header__left{
    text-align: center;
   }

   .header__right-bg{
    width:30rem;
    height: 26rem;
    right: -13%;
    bottom: 2rem;
    transform: translate(40% 40%);
    display: none;
}

    .header__left{
        margin-top: -7rem;
    }

    .header__left h3{
        color: black;
    }
}
@media screen and (max-width: 375px){

    .header__right-bg{
        width:25rem;
        height: 25rem;
        right: -2rem;
        bottom: 3rem;
        transform: translate(40% 40%);
        display: none;
    }

    .header__image{
        width: 20rem;
        bottom: 12.7rem;
        right: 0.5rem;
        display: none;
       }

    .header__left h3{
        color: black;
    }
}
@media screen and (max-width:320px){
    .header__right-bg{
        display: none;
    }

    .header__image{
        width: 20rem;
        bottom: 14rem;
        right: -1rem;
        display: none;
    }

    .header__left h3{
        color: black;
    }

}


