.sidebar{
    border-right: 1px solid whitesmoke;
    min-height: 100vh;
    /* position: absolute; */
    top: 0rem;
    width: 17.7%;
    background: var(--color-light);
    z-index: 1;
}



.sidebar__header{
    padding: 1rem;
}

section#shadow-host-companion {
    display: none;
}

.sidebar__header > .nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.link__items > ul > li > a{
    padding: 1rem;
    width: 100%;
    color: var(--color-secondary);
    display: flex;
    gap: 0.5rem;
    justify-content: left;
    align-items: center;
}

.link__items > ul > li > a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.link__items > ul > li{
    border: 1px solid whitesmoke;
}

@media screen and (max-width:1024px) {
    .sidebar{
        display: none;
    }

    .sidebar-close{
        display: none;
    }
    
    .sidebar-open{
        display: block;
        position: absolute;
        z-index: 1;
        top: 4rem;
        width: 50%;
        min-height: 90vh;
    }
}