#footer{
    background: black;
    position: relative;
    top: 22rem;
    padding: 0;
    margin: 0;
}

.footer__container{
    padding-top:2rem ;
    padding-bottom:2rem ;
}

.footer__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.footer__top > div {
    flex-basis: 250px;
    /* border: 1px solid white; */
    height: 17rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer__top > div > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__top > div  > h5 {
    color: var(--color-white);
}

.footer__top > div  > ul > li > a{
    text-decoration: none;
    color: var(--color-light);
}

.footer__top > div  > ul > li > a:hover{
    color: lightskyblue;
}

/* .footer__bottom {
    margin-top: 2rem;
} */

.footer__bottom > div > a > img{
   height: 100%;
   width: 60%;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.info > div {
    flex-basis: 250px;
    flex-grow: 1;
}

.info > div > p{
    color: white;
    font-size: 14px;
}

.info > div > p > a{
    text-decoration: none;
    color: lightskyblue;
}

.info > .right > p {
    text-align: right;
}

.socials{
    display: flex;
    gap: 1rem;
}

.company > h5{
    text-align: start;
}

.company > ul > li > a{
    text-align: start;
}

.resources > h5{
    text-align: start;
}

.resources > ul > li > a{
    text-align: start;
}

.services > h5{
    text-align: start;
}

.services > ul > li > a{
    text-align: start;
}

@media screen and (max-width: 1024px){
    .footer__top > div{
        justify-content: center;
    }

    .info .left{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .info .right{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}