#details{
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    background: var(--color-light);
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
}

.details__container > h2{
    padding-top: 2rem;
    text-align: center;
}

.details__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-top:2rem ;
    padding-bottom:2rem ;
}

.details__wrapper > div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: var(--color-white);
    flex-basis: 250px;
    height: 20rem;
    flex-grow: 1;
    padding: 2rem;
    border-radius: 20px;
}

.detail__bottom > p, h4{
    text-align: center;
}

@media screen and (max-width:1088px) {
    .details__wrapper > div{
        flex-basis: 100px;
        height: 24rem;
    }
}

@media screen and (max-width: 1000px){
    .details__wrapper > div{
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .details__wrapper > div{
        flex-basis: 250px;
        height: 23rem;
    }
}