#details{
    position: relative;
    top: 10rem;
    background: var(--color-light);
    padding: 0;
    margin: 0;
}

.details__container > h2{
    padding-top: 2rem;
}

.details__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-top:2rem ;
    padding-bottom:2rem ;
}

.details__wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    flex-basis: 250px;
    height: 20rem;
    flex-grow: 1;
    padding: 2rem;
}

.delivery{
    height: 70px;
}

.team{
    height: 80px;
}

.support{
    height: 60px;
    margin-top: 2rem;
}

.refund{
    height: 60px;
    margin-top: 2rem;
}

.detail__bottom > p, h4{
    text-align: center;
}